
svg {
	position:relative;
	
	border-bottom: 4px solid #000;
	
	z-index: -1;
	}

#nav-title{
	font-size: 2em;
	}

label{
	font-size: 1.75em;
	color: white;
	vertical-align: middle;
	margin-left: .5em;
	}
#vx{
	width: 3em;	
	text-align: center;
	font-size: 1.75em;
	background-color: transparent;
	color: white;
	border: none;
	cursor: default;
	
	}
	
#vy{
	width: 3em;	
	text-align: center;
	font-size: 1.75em;
	background-color: transparent;
	color: white;
	border: none;
	cursor: default;
	}

	
#btnStartStop {
	font-size: 1.5em;
	color: white;
	margin: 0 .25em;
	cursor: pointer; 
	}
/*	
#add{
	background-color: yellow;
	border-color: yellow;
	}
	
#remove{
	background-color: yellow;
	border-color: yellow;
	}
	*/
	
